p {
    margin-bottom: 8px;
    text-align: justify;
}



.print-area {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Noto Serif Gujarati', serif;
    /* Use proper font for Gujarati if available */
    padding: 100px;
    padding-top: 300px;
    padding-bottom: 50px;
    max-width: 100%;
    width: 794px;

}

.print-area p.content {
    font-size: 15px;
    line-height: 1.8;
    text-indent: 3.5em;
}

.print-area .text-right {
    text-align: right;
}

.print-area .font-bold {
    font-weight: bold;
}

.print-area .font-semibold {
    font-weight: 600;
}

.print-area span {
    display: inline-block;
}